[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic-settings = "*"
passlib = "*"
bcrypt = "==3.1.7"
pyjwt = "*"
httpx = "*"
pytest = "*"
riotwatcher = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-jose = "*"

[dev-packages]

[requires]
python_version = "3.12"
